.board {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  padding: 20px;
  margin: 30px;
  background: lightsteelblue;
  border-radius: 20px;
}

.board p {
  padding: 0 3px;
}

.boardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.draw-nums {
  background: black;
  color: white;
  padding: 10px;
}
